// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "components/address_autocomplete";
@import "jquery-ui/autocomplete";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";




  .videocont {
     width: 100%;
     height: 40vh;
    text-align: center;
    z-index: 10;
    overflow: hidden;
  }


.pictolist{
  margin: auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.avatarcard{
  width: 50px;
  border-radius: 50%;
}
.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
}
.media-section {
  margin: 40px auto;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}


.bouton_nom {
  font-family: Quicksand;
  font-size: 20px;
  position: relative;top:-8px;left: -10px;
  color: #e60000;
  border: none;
  background: transparent
}
.bouton_nom:hover {
  color: grey !important;
font-family: Quicksand;
text-decoration: none !important;
  font-size: 20px;
  position: relative;top:-8px;

  border: none;
  background: transparent
}

.bouton_nom:focus {
  outline:0;
  border:none;
  background: transparent;
  color: #e60000 !important;

}
.bouton_nom:active {
  outline:0;
  border:none;
  box-shadow: none;
  background: transparent;
  color: #e60000 !important;

}
.bouton_nom:active:focus {
  outline:0;
  border:none;
  box-shadow: none;
  background: transparent;
  color: #e60000 !important;
}
.input_count {
  column-count: 4;

}


.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.row-centered {
    text-align:center !important;
    display:inline-block;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /* inline-block space fix */
    margin: 0 auto;
    }


/* *******   CARD BACKGROUND *********/
.videohover-background  {
  background-color: black;
  line-height: 0;
}
.videohover-background video {
  opacity: 0.5;
  transition: all 1s ease;
}

.videohover-background:hover video {
  transition: all 1s ease;
  opacity: 1;
}
// .videohover-background  img {
//   max-width: 100%;
// }

