// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";


.btn-action {
  font-family: Quicksand;
  font-size: 20px;
  position: relative;top:-8px;
  color: #e60000;
  border: none;
  background: transparent
}

.btn-action:hover {
font-family: Quicksand;
  font-size: 20px;
  position: relative;top:-8px;
  color: grey;
  border: none;
  background: transparent
}

