// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";


.action {
  font-family: Quicksand;
  font-size: 20px;
  position: relative;top:-8px;left: -10px;
  color: #e60000;
  border: none;
  background: transparent
}
.video-container {

  position: relative;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  top: 0%;
  z-index: 0;
  left: 0%;
  .video-background {
    position: relative;
    opacity: 0.78;
    z-index: 0;
    min-width: 100% !important;
    height: auto;
  }
  video {
    position: relative;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.action:hover {
font-family: Quicksand;
  font-size: 20px;
  position: relative;top:-8px;
  color: grey;
  border: none;
  background: transparent
}

.action:focus {
  outline:0;
  border:none;
  background: transparent

}
.action:active {
  outline:0;
  border:none;
  box-shadow: none;
  background: transparent;
  color: #e60000;

}
.action:active:focus {
  outline:0;
  border:none;
  box-shadow: none;
  background: transparent;
  color: #e60000;
}


//jeremy add for the dashboard
.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
}
.media-section {
  margin: 40px auto;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}

.bouton_nom {
  font-family: Quicksand;
  font-size: 20px;
  position: relative;top:-8px;left: -10px;
  color: #e60000;
  border: none;
  background: transparent
}
.bouton_nom:hover {
font-family: Quicksand;
  font-size: 20px;
  position: relative;top:-8px;
  color: grey;
  border: none;
  background: transparent
}

.bouton_nom:focus {
  outline:0;
  border:none;
  background: transparent

}
.bouton_nom:active {
  outline:0;
  border:none;
  box-shadow: none;
  background: transparent;
  color: #e60000;

}
.bouton_nom:active:focus {
  outline:0;
  border:none;
  box-shadow: none;
  background: transparent;
  color: #e60000;
}
